{{jsonString | json}}
<div [formGroup]="myForm">
  <div formArrayName="items" *ngFor="let item of myForm.get('items').controls; let i = index;">
    <div [formGroupName]="i">
      <!--Input-Forms-->
      <input formControlName="name" placeholder="Item name">
      <input formControlName="description" placeholder="Item description">
      <input formControlName="price" placeholder="Item price">
      <input formControlName="websiteUrl" placeholder="Url">
      <br>
    </div>
  </div>
</div>
<!--Validation-->
{{myForm.valid}}
<button (click)="addItem()">New Row</button>
